@using Hedron.Core.Entity.Property
@model Hedron.Models.ItemStaticViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-card w3-third w3-margin-top">
    <header class="w3-container w3-khaki">
        <h2>Create Static</h2>
    </header>
    <div class="w3-container w3-sand">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="w3-red"></div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Tier"></label>
                <div>
                    <input asp-for="Tier" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Tier" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Name"></label>
                <div>
                    <input asp-for="Name" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Name" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="ShortDescription"></label>
                <div>
                    <input asp-for="ShortDescription" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="ShortDescription" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="LongDescription"></label>
                <div>
                    <textarea asp-for="LongDescription" class="w3-animate-input" style="width:50%" rows="5" cols="1">@Model.LongDescription</textarea>
                    <span asp-validation-for="LongDescription" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Rarity"></label>
                <div>
                    <select asp-for="Rarity" asp-items="Html.GetEnumSelectList<ItemRarity>()" class="form-control"></select>
                    <span asp-validation-for="Rarity" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Value.Copper"></label>
                <div>
                    <input asp-for="Value.Copper" value="@Model.Value.Copper" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Value.Copper" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Value.Silver"></label>
                <div>
                    <input asp-for="Value.Silver" value="@Model.Value.Silver" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Value.Silver" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Value.Gold"></label>
                <div>
                    <input asp-for="Value.Gold" value="@Model.Value.Gold" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Value.Gold" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Value.Vita"></label>
                <div>
                    <input asp-for="Value.Vita" value="@Model.Value.Vita" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Value.Vita" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Value.Menta"></label>
                <div>
                    <input asp-for="Value.Menta" value="@Model.Value.Menta" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Value.Menta" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Value.Astra"></label>
                <div>
                    <input asp-for="Value.Astra" value="@Model.Value.Astra" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Value.Astra" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-padding-32 w3-margin-left w3-margin-right">
                <input type="submit" value="Create" class="w3-button w3-blue-gray w3-hover-black" />
            </div>
        </form>
    </div>
    <div class="w3-container w3-sand">
        <div class="w3-topbar w3-margin-left w3-margin-right">
            <div class="w3-section">
                <a asp-action="Index"><i class="material-icons">arrow_back</i></a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
