@model IEnumerable<BaseEntityViewModel>

@{
    ViewData["Title"] = "Index";
}

<table class="table" id="tableRoomList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prototype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => entity.Prototype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => entity.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => entity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => entity.ShortDescription)
            </td>
            <td>
                <a asp-controller="@entity.Type" asp-action="Edit" asp-route-id="@entity.Prototype">Edit</a> |
                <a asp-controller="@entity.Type" asp-action="Details" asp-route-id="@entity.Prototype">Details</a> |
                <a asp-controller="@entity.Type" asp-action="Delete" asp-route-id="@entity.Prototype">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>