@model Hedron.Models.RoomViewModel

@{
    ViewData["Title"] = "Index";
}

<tr id="room-@Model.Prototype" class="w3-white">
    <td>
        <i class="material-icons w3-hover-blue-gray w3-float-tooltip" style="vertical-align:-8px" onclick="expandRoom(@Model.Prototype)" id="chevron-@Model.Prototype">chevron_right</i>
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Prototype)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Description)
    </td>
    <td class="w3-right-align">
        <div class="w3-float-tooltip">
            <a asp-controller="Room" asp-route-id="@Model.Prototype" asp-action="Edit"><i class="material-icons w3-hover-blue-gray" style="vertical-align:-8px">mode_edit</i></a>
            <span class="w3-float-tooltiptext">Edit</span>
        </div>
        <div class="w3-float-tooltip">
            <a asp-controller="Room" asp-route-id="@Model.Prototype" asp-action="Details"><i class="material-icons w3-hover-blue-gray w3-float-tooltip" style="vertical-align:-8px">more_horiz</i></a>
            <span class="w3-float-tooltiptext">Details</span>
        </div>
        <div class="w3-float-tooltip">
            <a asp-controller="Room" asp-route-id="@Model.Prototype" asp-action="Delete"><i class="material-icons w3-hover-blue-gray w3-float-tooltip" style="vertical-align:-8px">delete</i></a>
            <span class="w3-float-tooltiptext">Delete</span>
        </div>
    </td>
</tr>