@model Hedron.Models.ItemWeaponViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prototype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prototype)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinDamage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinDamage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxDamage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxDamage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Behavior)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Behavior)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DamageType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DamageType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElementalType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElementalType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
