@model IEnumerable<Hedron.Models.RoomViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-card w3-twothird w3-margin-top">
    <header class="w3-container w3-khaki">
        <h2>Rooms</h2>
    </header>
    <div class="w3-container w3-sand">
        <div class="w3-container w3-section w3-large">
            <a asp-action="Create"><i class="material-icons" style="vertical-align:-6px">add</i>Add</a>
        </div>
    </div>
    <div class="w3-container w3-sand">
        <table class="w3-table w3-card w3-margin-bottom w3-border w3-bordered">
            <thead>
                <tr class="w3-lime">
                    <th>
                        @Html.DisplayNameFor(model => model.Prototype)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tier)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsShop)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Entities)
                    </th>
                    <th class="w3-right-align"></th>
                </tr>
            </thead>
            <tbody class="w3-white">
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prototype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsShop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entities.Count)
                    </td>
                    <td class="w3-right-align">
                        <a asp-controller="Room" asp-route-id="@item.Prototype" asp-action="Edit"><i class="material-icons" style="vertical-align:-8px">mode_edit</i></a>
                        <a asp-controller="Room" asp-route-id="@item.Prototype" asp-action="Details"><i class="material-icons" style="vertical-align:-8px">more_horiz</i></a>
                        <a asp-controller="Room" asp-route-id="@item.Prototype" asp-action="Delete"><i class="material-icons" style="vertical-align:-8px">delete</i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>