@model IEnumerable<Hedron.Models.RoomViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">New Room</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prototype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prototype)
            </td>
            <th>
                @Html.DisplayFor(model => item.ParentName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Tier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entities.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Prototype }) |
                @Html.ActionLink("Details", "Details", new { id = item.Prototype }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Prototype })
            </td>
        </tr>
}
    </tbody>
</table>
