@page "/areaeditor"
@inherits ComponentBase
@using Hedron.Core.Locale;
@using Hedron.Data;
@using Hedron.Core.System;
@using Server.Shared.Filters;
@using Server.Shared.Lists;

<div>
    <form>
        <div class="form-group row">
            <WorldFilter OnWorldFilterChanged="@WorldFilterChanged" Worlds="@Worlds" SelectedWorld="@_currentWorld?.Prototype" />
            <AreaFilter OnAreaFilterChanged="@AreaFilterChanged" Areas="@Areas" SelectedArea="@_currrentArea?.Prototype" />
            <div class="col-xl-1">
                <!-- empty -->
            </div>
            <div class="col-xl-2 pl-0">
                @if (_currentWorld != null)
                {
                    <button @onclick="NewArea" class="btn btn-primary col-form-label mr-3 text-center" style="width: 75px">New</button>
                }
                @if (_currrentArea != null)
                {
                    <button @onclick="DeleteArea" class="btn btn-danger col-form-label text-center" style="width: 75px">Delete</button>
                }
            </div>
        </div>
    </form>

    <form>
        <div class="form-group row">
            <label for="areaName" class="col-xl-1 col-form-label">Name</label>
            @if (_currrentArea != null)
            {
                <input id="areaName" class="col-xl-2 col-form-label" @bind="_currrentArea.Name" />
                DataPersistence.SaveObject(_currrentArea);
            }
            else
            {
                <input id="areaName" class="col-xl-2 col-form-label" disabled />
            }
            <label for="areaTier" class="col-xl-1 col-form-label">Tier</label>
            @if (_currrentArea != null)
            {
                <select id="areaTier" class="col-xl-2 col-form-label" @bind="_currrentArea.Tier.Level">
                    @for (var i = Constants.MIN_TIER; i <= Constants.MAX_TIER; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                DataPersistence.SaveObject(_currrentArea);
            }
            else
            {
                <select id="areaTier" class="col-xl-2 col-form-label" disabled>
                </select>
            }
            <label for="areaPrototype" class="col-xl-1 col-form-label">Prototype</label>
            @if (_currrentArea != null)
            {
                <input id="areaPrototype" class="col-xl-2 col-form-label" @bind="_currrentArea.Prototype" disabled />
            }
            else
            {
                <input id="areaName" class="col-xl-2 col-form-label" disabled />
            }
        </div>
    </form>
</div>

@if (_selectedArea != null)
{
    <div class="row mt-5 pt-xl-5 pr-xl-5 pl-xl-3">
        <RoomList Rooms="@Rooms" />
    </div>
    <div class="row mt-5 pt-xl-5 pr-xl-5 pl-xl-3">

    </div>
}


@code {
    private uint? _selectedWorld;
    private World _currentWorld;

    private uint? _selectedArea;
    private Area _currrentArea;

    // private uint? _selectedRoom;

    public List<World> Worlds { get; set; }
    public List<Area> Areas { get; set; }
    public List<Room> Rooms { get; set; }

    protected override void OnInitialized()
    {
        Worlds = DataAccess.GetAll<World>(CacheType.Prototype);
        Console.WriteLine("AreaEditor:OnInitialized");
        RefreshAreas();
        RefreshRooms();
    }

    protected void WorldFilterChanged(uint? worldID)
    {
        _selectedWorld = worldID;
        _currentWorld = DataAccess.Get<World>(_selectedWorld, CacheType.Prototype);
        if (_currentWorld == null)
        {
            _selectedArea = null;
        }
        RefreshAreas();
        RefreshRooms();
    }

    protected void AreaFilterChanged(uint? areaID)
    {
        _selectedArea = areaID;
        _currrentArea = DataAccess.Get<Area>(_selectedArea, CacheType.Prototype);
        RefreshRooms();
    }

    /*
    protected void RoomClicked(uint? roomID)
    {
        _selectedRoom = roomID;
    }
    */

    private void RefreshAreas()
    {
        Areas = DataAccess.GetAll<Area>(CacheType.Prototype);
    }

    private void RefreshRooms()
    {
        if (_selectedArea != null)
            Rooms = DataAccess.Get<Area>(_selectedArea, CacheType.Prototype).Rooms.GetAllEntitiesAsObjects<Room>();
        else
            Rooms = new List<Room>();
    }

    private void NewArea()
    {
        var newArea = Area.NewPrototype((uint)_selectedWorld);
        _currrentArea = newArea;
        RefreshAreas();
    }

    private void DeleteArea()
    {
        DataAccess.Remove<Area>(_currrentArea.Prototype, CacheType.Prototype);
        _currrentArea = null;
        RefreshAreas();
    }

}
