@page "/roomeditor"
@inherits ComponentBase
@using Hedron.Core.Locale;
@using Hedron.Data;
@using Hedron.Core.Entities.Living;
@using Hedron.Core.System;
@using Server.Shared.Filters;
@inject LocaleEditorState EditorState;

<div>
    <form>
        <div class="form-group row">
            <WorldFilter OnWorldFilterChanged="@WorldFilterChanged" Worlds="@Worlds" />
            <AreaFilter OnAreaFilterChanged="@AreaFilterChanged" Areas="@Areas" />
            <RoomFilter OnRoomFilterChanged="@RoomFilterChanged" Rooms="@Rooms" />
            <div class="col-xl-1">
                <!-- empty -->
            </div>
            <div class="col-xl-2 pl-0">
                @if (EditorState.CurrentArea != null)
                {
                    <button @onclick="NewRoom" class="btn btn-primary col-form-label mr-3 text-center" style="width: 75px">New</button>
                }
                @if (EditorState.CurrentRoom != null)
                {
                    <button @onclick="DeleteRoom" class="btn btn-danger col-form-label text-center" style="width: 75px">Delete</button>
                }
            </div>
        </div>
    </form>

    <form>
        <div class="form-group row">
            <label for="roomName" class="col-xl-1 col-form-label">Name</label>
            @if (EditorState.CurrentRoom != null)
            {
                <input id="roomName" class="col-xl-2 col-form-label" @bind="EditorState.CurrentRoom.Name" />
                DataPersistence.SaveObject(EditorState.CurrentRoom);
            }
            else
            {
                <input id="roomName" class="col-xl-2 col-form-label" disabled />
            }
            <label for="roomTier" class="col-xl-1 col-form-label">Tier</label>
            @if (EditorState.CurrentRoom != null)
            {
                <select id="roomTier" class="col-xl-2 col-form-label" @bind="EditorState.CurrentRoom.Tier.Level">
                    @for (var i = Constants.MIN_TIER; i <= Constants.MAX_TIER; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                DataPersistence.SaveObject(EditorState.CurrentRoom);
            }
            else
            {
                <select id="roomTier" class="col-xl-2 col-form-label" disabled>
                </select>
            }
            <label for="roomPrototype" class="col-xl-1 col-form-label">Prototype</label>
            @if (EditorState.CurrentRoom != null)
            {
                <input id="roomPrototype" class="col-xl-2 col-form-label" @bind="EditorState.CurrentRoom.Prototype" disabled />
            }
            else
            {
                <input id="roomName" class="col-xl-2 col-form-label" disabled />
            }
        </div>
        <div class="form-group row">
            <label for="roomDescription" class="col-xl-1 col-form-label">Name</label>
            @if (EditorState.CurrentRoom != null)
            {
                <textarea id="roomDesc" class="col-xl-5 col-form-label" @bind="EditorState.CurrentRoom.Description" rows="4" />
                DataPersistence.SaveObject(EditorState.CurrentRoom);
            }
            else
            {
                <textarea id="roomDesc" class="col-xl-5 col-form-label" rows="4" disabled />
            }
            <label for="roomShop" class="col-xl-1 col-form-label">Shop</label>
            <div class="col-xl-1 pl-0 pt-1">
                @if (EditorState.CurrentRoom != null)
                {
                    <input type="checkbox" id="roomShop" @bind="EditorState.CurrentRoom.IsShop" rows="4" />
                    DataPersistence.SaveObject(EditorState.CurrentRoom);
                }
                else
                {
                    <input type="checkbox" id="roomShop" rows="4" disabled />
                }
            </div>
        </div>
    </form>
</div>
@if (EditorState.CurrentRoom != null)
{
    <div>
        <form>
            <div class="form-group row">
                <label for="exitNorth" class="col-xl-1 col-form-label">North</label>
                <input id="exitNorth" class="col-xl-1 col-form-label" @bind="EditorState.CurrentRoom.Exits.North" />
                <label for="exitEast" class="col-xl-1 col-form-label">East</label>
                <input id="exitEast" class="col-xl-1 col-form-label" @bind="EditorState.CurrentRoom.Exits.East" />
                <label for="exitSouth" class="col-xl-1 col-form-label">South</label>
                <input id="exitSouth" class="col-xl-1 col-form-label" @bind="EditorState.CurrentRoom.Exits.South" />
                <label for="exitWest" class="col-xl-1 col-form-label">West</label>
                <input id="exitWest" class="col-xl-1 col-form-label" @bind="EditorState.CurrentRoom.Exits.West" />
            </div>
            <div class="form-group row">
                <label for="exitUp" class="col-xl-1 col-form-label">Up</label>
                <input id="exitUp" class="col-xl-1 col-form-label" @bind="EditorState.CurrentRoom.Exits.Up" />
                <label for="exitDown" class="col-xl-1 col-form-label">Down</label>
                <input id="exitDown" class="col-xl-1 col-form-label" @bind="EditorState.CurrentRoom.Exits.Down" />
            </div>
        </form>
    </div>
    DataPersistence.SaveObject(EditorState.CurrentRoom);
}
@if (EditorState.CurrentRoom != null)
{
    <div>
        <div class="row mt-4 pt-xl-4 pr-xl-5 pl-xl-3">
            <p>
                <h3 class="pl-xl-5"><strong>Mobs</strong></h3>
            </p>
            <MobList Mobs="@(EditorState.CurrentRoom.Animates.GetAllEntitiesAsObjects<Mob>())" />
        </div>
        <div class="row mt-5 pt-xl-4 pr-xl-5 pl-xl-3">

        </div>
    </div>
}


@code {
    public List<World> Worlds { get; set; }
    public List<Area> Areas { get; set; }
    public List<Room> Rooms { get; set; }
    public List<Mob> Mobs { get; set; }

    protected override void OnInitialized()
    {
        Worlds = DataAccess.GetAll<World>(CacheType.Prototype);
        RefreshAreas();
        RefreshRooms();
    }

    protected void WorldFilterChanged(uint? worldID)
    {
        EditorState.SelectedWorld = worldID;
        EditorState.CurrentWorld = DataAccess.Get<World>(EditorState.SelectedWorld, CacheType.Prototype);
        if (EditorState.CurrentWorld == null)
        {
            EditorState.SelectedArea = null;
            EditorState.CurrentArea = null;
        }
        RefreshAreas();
        RefreshRooms();
    }

    protected void AreaFilterChanged(uint? areaID)
    {
        EditorState.SelectedArea = areaID;
        EditorState.CurrentArea = DataAccess.Get<Area>(EditorState.SelectedArea, CacheType.Prototype);

        EditorState.SelectedRoom = null;
        EditorState.CurrentRoom = null;

        RefreshRooms();
    }

    private void RefreshAreas()
    {
        if (EditorState.SelectedWorld != null)
            Areas = DataAccess.Get<World>(EditorState.SelectedWorld, CacheType.Prototype).Areas.GetAllEntitiesAsObjects<Area>();
        else
            Areas = new List<Area>();
    }

    protected void RoomFilterChanged(uint? roomID)
    {
        EditorState.SelectedRoom = roomID;
        EditorState.CurrentRoom = DataAccess.Get<Room>(EditorState.SelectedRoom, CacheType.Prototype);
        RefreshMobs();
    }

    private void RefreshRooms()
    {
        if (EditorState.SelectedArea != null)
            Rooms = DataAccess.Get<Area>(EditorState.SelectedArea, CacheType.Prototype).Rooms.GetAllEntitiesAsObjects<Room>();
        else
            Rooms = new List<Room>();
    }

    private void RefreshMobs()
    {
        if (EditorState.CurrentRoom != null)
            Mobs = EditorState.CurrentRoom.Animates.GetAllEntitiesAsObjects<Mob>();
        else
            Mobs = new List<Mob>();
    }

    private void NewRoom()
    {
        var newRoom = Room.NewPrototype((uint)EditorState.CurrentArea.Prototype);
        EditorState.SelectedRoom = newRoom.Prototype;
        EditorState.CurrentRoom = newRoom;
        RefreshRooms();
    }

    private void DeleteRoom()
    {
        DataAccess.Remove<Room>(EditorState.CurrentRoom.Prototype, CacheType.Prototype);
        EditorState.SelectedRoom = null;
        EditorState.CurrentRoom = null;
        RefreshRooms();
    }

}
