@page "/worldeditor"
@inherits ComponentBase
@using Hedron.Core.Locale;
@using Hedron.Data;
@using Hedron.Core.Entities.Properties;
@using Hedron.Core.System;
@using Server.Shared.Filters;
@using Server.Shared.Lists;
@inject LocaleEditorState EditorState;

    <div>
        <form>
            <div class="form-group row">
                <WorldFilter OnWorldFilterChanged="@WorldFilterChanged" Worlds="@Worlds" />
                <div class="col-xl-1">
                    <!-- empty -->
                </div>
                <div class="col-xl-2 pl-0">
                    @if (EditorState.CurrentWorld != null)
                    {
                        <button @onclick="NewWorld" class="btn btn-primary col-form-label mr-3 text-center" style="width: 75px">New</button>
                    }
                    @if (EditorState.CurrentWorld != null)
                    {
                        <button @onclick="DeleteWorld" class="btn btn-danger col-form-label text-center" style="width: 75px">Delete</button>
                    }
                </div>
            </div>
        </form>

        <form>
            <div class="form-group row">
                <label for="worldName" class="col-xl-1 col-form-label">Name</label>
                @if (EditorState.CurrentWorld != null)
                {
                    <input id="worldName" class="col-xl-2 col-form-label" @bind="EditorState.CurrentWorld.Name" />
                    DataPersistence.SaveObject(EditorState.CurrentWorld);
                }
                else
                {
                    <input id="worldName" class="col-xl-2 col-form-label" disabled />
                }
                <label for="worldProtoype" class="col-xl-1 col-form-label">Prototype</label>
                @if (EditorState.CurrentWorld != null)
                {
                    <input id="worldPrototype" class="col-xl-2 col-form-label" @bind="EditorState.CurrentWorld.Prototype" disabled />
                }
                else
                {
                    <input id="areaName" class="col-xl-2 col-form-label" disabled />
                }
            </div>
        </form>

        @if (EditorState.CurrentWorld != null)
        {
            <form>
                <div class="form-group row">
                    <RoomFilter OnRoomFilterChanged="@RoomFilterChanged" Rooms="@Rooms" FilterLabel="Start"/>
                </div>
            </form>
        }
    </div>

@if (EditorState.CurrentWorld != null)
{
    <div class="row mt-5 pt-xl-5 pr-xl-5 pl-xl-3">
        <AreaList Areas="@Areas" />
    </div>
    <div class="row mt-5 pt-xl-5 pr-xl-5 pl-xl-3">

    </div>
}


@code {
    private uint? _selectedRoom;

    public List<World> Worlds { get; set; }
    public List<Area> Areas { get; set; }
    public List<Room> Rooms { get; set; }

    protected override void OnInitialized()
    {
        Worlds = DataAccess.GetAll<World>(CacheType.Prototype);
        Rooms = new List<Room>();
        Console.WriteLine("WorldEditor:OnInitialized");
        RefreshWorlds();
    }

    protected void WorldFilterChanged(uint? worldID)
    {
        EditorState.SelectedWorld = worldID;
        EditorState.CurrentWorld = DataAccess.Get<World>(EditorState.SelectedWorld, CacheType.Prototype);
        RefreshAreas();
        RefreshRooms();
    }

    private void RefreshWorlds()
    {
        Areas = DataAccess.GetAll<Area>(CacheType.Prototype);
    }

    private void RefreshAreas()
    {
        if (EditorState.SelectedWorld != null)
            Areas = DataAccess.Get<World>(EditorState.SelectedWorld, CacheType.Prototype).Areas.GetAllEntitiesAsObjects<Area>();
        else
            Areas = new List<Area>();
    }

    private void RefreshRooms()
    {
        if (EditorState.CurrentWorld != null)
        {
            var rooms = new List<Room>();
            foreach (var area in Areas)
            {
                rooms.AddRange(area.Rooms.GetAllEntitiesAsObjects<Room>());
            }
            Rooms = rooms;
        }
        else
            Areas = new List<Area>();
    }

    private void NewWorld()
    {

    }

    private void DeleteWorld()
    {

    }

    protected void RoomFilterChanged(uint? roomID)
    {
        EditorState.CurrentWorld.StartingLocation = roomID;
        DataPersistence.SaveObject(EditorState.CurrentWorld);
    }

}
