@model Hedron.Models.MobViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-card w3-third w3-margin-top">
    <header class="w3-container w3-khaki">
        <h2>Create Mob</h2>
    </header>
    <div class="w3-container w3-sand">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="w3-red"></div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Parent"></label>
                <div>
                    <input asp-for="Parent" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Parent" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Tier"></label>
                <div>
                    <input asp-for="Tier" value="@Model.Tier" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Tier" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Level"></label>
                <div>
                    <select asp-for="Level" asp-items="Html.GetEnumSelectList<Hedron.Core.Entities.Properties.MobLevel>()" class="form-control"></select>
                    <span asp-validation-for="Level" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Name"></label>
                <div>
                    <input asp-for="Name" value="@Model.Name" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Name" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="ShortDescription"></label>
                <div>
                    <input asp-for="ShortDescription" value="@Model.ShortDescription" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="ShortDescription" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="LongDescription"></label>
                <div>
                    <textarea asp-for="LongDescription" value="@Model.LongDescription" class="w3-animate-input" style="width:50%" rows="5" cols="1">@Model.LongDescription</textarea>
                    <span asp-validation-for="LongDescription" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Behavior.Aggressive"></label>
                <div>
                    <input asp-for="Behavior.Aggressive" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Behavior.Aggressive" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Behavior.AutoEquip"></label>
                <div>
                    <input asp-for="Behavior.AutoEquip" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Behavior.AutoEquip" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Behavior.AutoPillage"></label>
                <div>
                    <input asp-for="Behavior.AutoPillage" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Behavior.AutoPillage" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Behavior.Scavenge"></label>
                <div>
                    <input asp-for="Behavior.Scavenge" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Behavior.Scavenge" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Behavior.ShopKeeper"></label>
                <div>
                    <input asp-for="Behavior.ShopKeeper" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Behavior.ShopKeeper" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Behavior.Wander"></label>
                <div>
                    <input asp-for="Behavior.Wander" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Behavior.Wander" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseAttributes.Essence"></label>
                <div>
                    <input asp-for="BaseAttributes.Essence" value="@Model.BaseAttributes.Essence" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseAttributes.Essence" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseAttributes.Finesse"></label>
                <div>
                    <input asp-for="BaseAttributes.Finesse" value="@Model.BaseAttributes.Finesse" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseAttributes.Finesse" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseAttributes.Intellect"></label>
                <div>
                    <input asp-for="BaseAttributes.Intellect" value="@Model.BaseAttributes.Intellect" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseAttributes.Intellect" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseAttributes.Might"></label>
                <div>
                    <input asp-for="BaseAttributes.Might" value="@Model.BaseAttributes.Might" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseAttributes.Might" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseAttributes.Spirit"></label>
                <div>
                    <input asp-for="BaseAttributes.Spirit" value="@Model.BaseAttributes.Spirit" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseAttributes.Spirit" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseAttributes.Will"></label>
                <div>
                    <input asp-for="BaseAttributes.Will" value="@Model.BaseAttributes.Will" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseAttributes.Will" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BasePools.Energy"></label>
                <div>
                    <input asp-for="BasePools.Energy" value="@Model.BasePools.Energy" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BasePools.Energy" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BasePools.HitPoints"></label>
                <div>
                    <input asp-for="BasePools.HitPoints" value="@Model.BasePools.HitPoints" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BasePools.HitPoints" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BasePools.Stamina"></label>
                <div>
                    <input asp-for="BasePools.Stamina" value="@Model.BasePools.Stamina" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BasePools.Stamina" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseQualities.ArmorRating"></label>
                <div>
                    <input asp-for="BaseQualities.ArmorRating" value="@Model.BaseQualities.ArmorRating" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseQualities.ArmorRating" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseQualities.AttackRating"></label>
                <div>
                    <input asp-for="BaseQualities.AttackRating" value="@Model.BaseQualities.AttackRating" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseQualities.AttackRating" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseQualities.CriticalDamage"></label>
                <div>
                    <input asp-for="BaseQualities.CriticalDamage" value="@Model.BaseQualities.CriticalDamage" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseQualities.CriticalDamage" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="BaseQualities.CriticalHit"></label>
                <div>
                    <input asp-for="BaseQualities.CriticalHit" value="@Model.BaseQualities.CriticalHit" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="BaseQualities.CriticalHit" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Currency.Copper"></label>
                <div>
                    <input asp-for="Currency.Copper" value="@Model.Currency.Copper" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Currency.Copper" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Currency.Silver"></label>
                <div>
                    <input asp-for="Currency.Silver" value="@Model.Currency.Silver" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Currency.Silver" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Currency.Gold"></label>
                <div>
                    <input asp-for="Currency.Gold" value="@Model.Currency.Gold" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Currency.Gold" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Currency.Vita"></label>
                <div>
                    <input asp-for="Currency.Vita" value="@Model.Currency.Vita" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Currency.Vita" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Currency.Menta"></label>
                <div>
                    <input asp-for="Currency.Menta" value="@Model.Currency.Menta" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Currency.Menta" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <label asp-for="Currency.Astra"></label>
                <div>
                    <input asp-for="Currency.Astra" value="@Model.Currency.Astra" class="w3-animate-input" style="width:30%" />
                    <span asp-validation-for="Currency.Astra" class="w3-red"></span>
                </div>
            </div>
            <div class="w3-padding-32 w3-margin-left w3-margin-right">
                <input type="submit" value="Create" class="w3-button w3-blue-gray w3-hover-black" />
            </div>
        </form>
    </div>
    <div class="w3-container w3-sand">
        <div class="w3-topbar w3-margin-left w3-margin-right">
            <div class="w3-section">
                <a asp-action="Index"><i class="material-icons">arrow_back</i></a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}